* {box-sizing: border-box;}
.grid {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 20px;
}

#items {
    grid-column: 1 ;
}

#pagination {
    grid-column: 1;
}

#alternate {
    grid-column: 2;
}

#paging {
    grid-column: 2 ;
}
