{% extends "page.html" %}

{% block content %}
    <h1>AGLDWG LD Catalogue</h1>
    <p>This instance of the <a href="https://github.com/CSIRO-enviro-informatics/ld.cat">ld.cat</a> tool is the <a href="http://linked.data.gov.au">Australian Government Linked Data Workng Group</a>'s instance.</p>
    <p>
        <em>This following content is the same as the README page from <a href="https://github.com/CSIRO-enviro-informatics/ld.cat">
            this system's code repository</a>.</em>
    </p>
    {{ content }}
{% endblock %}
