{% extends "page.html" %}

{% block content %}
    <div class="altview">
        <h4>Alternates View</h4>
        <p>See this content according to other views and formats:</p>
        <p><a href="{{ url_for('routes.index', _view='alternates') }}"><em>Alternates</em> View</a></p>
    </div>
    <h1>Australian Government Linked Data Working Group - LD Catalogue</h1>
    <p>
        This catalogue lists <a href="https://www.w3.org/standards/semanticweb/data">Linked Data</a> assets published
        using namespaces provided by this Working Group. For technical, legal and
        contact information, see the <a href="{{ url_for('routes.about') }}">About page</a>.
    </p>
    <h3>Use</h3>
    <p>
        This catalogue contains lists (registers) of:
    </p>
    <ol>
        <li><a href="{{ url_for('routes.datasets') }}">Datasets</a></li>
        <li><a href="{{ url_for('routes.defs') }}">Definitional Items</a></li>
    </ol>
    <p>
        More types of items may be added shortly.
    </p>
    <h3>Linked Data access</h3>
    <p>
        This catalogue itself is available as a <em>Linked Data</em> set of resources. This means it is able to be
        accessed according to Linked Data-defined information models (ontologies) in a series of different formats for
        human and machine-readable purposes.
    </p>
    <p>
        To view this page's information in according to defined information models and in other formats, see the
        <a href="{{ url_for('routes.index', _view='alternates') }}"><em>Alternates View</em></a> of it.
    </p>
{% endblock %}
