{% extends "page.html" %}

{% block content %}
    <div id="alternates">
        <h4>Alternates View</h4>
        <p>See this content according to other views and formats:</p>
        <p><a href="{{ url_for('routes.index', _view='alternates') }}"><em>Alternates</em> View</a></p>
    </div>
    <h1>Longitudinal Spine of Government Functions Catalogue</h1>
    <p>
        This is a catalogue of datasets and models (ontologies) produced by the <em>Longitudinal Spine of Government
        Functions</em> project which ran in the 2018/19 Financial Year. The project was concerned with producing a
        series of integrated datasets and metadata that allowed functions of (Australian Federal) government to be
        mapped over time and crosswalks between difference functional mapping systems performed.
    </p>
    <p>
        This catalogue contains only <a href="https://www.w3.org/standards/semanticweb/data">Linked Data</a> assets
        which means that they can all be navidated with standardised methods and tooling. Additionally, this catalogue
        itself is a Linked Data system thus it to can be navigated just as its content can.
    </p>
    <p></p>
    <h3>Registers</h3>
    <p>
        The registers of dfferent types of things in this catalogue are:
    </p>
    <ol>
        <li><a href="{{ url_for('routes.datasets') }}">All</a></li>
        <li><a href="{{ url_for('routes.datasets') }}">Datasets</a></li>
        <li><a href="{{ url_for('routes.linksets') }}">Linksets</a></li>
        <li><a href="{{ url_for('routes.defs') }}">Definitional Items</a></li>
    </ol>
    <h3>Linked Data access</h3>
    <p>
        This catalogue is available as a <em>Linked Data</em> set of resources. This means it is able to be accessed
        according to defined information models and in a series of different formats for human and machine-readable
        purposes.
    </p>
    <p>
        To view this page's information in according to defined information models and in other formats, see the
        <a href="{{ url_for('routes.index', _view='alternates') }}"><em>Alternates View</em></a> of it.
    </p>
    <h3>More information</h3>
    <p>
        For more details about the tool used for this catalogue and other catalogue implementations using the tool,
        see the <a href="{{ url_for('routes.about') }}">About page</a>.
    </p>
{% endblock %}
