<!DOCTYPE html>

{% from "macros/format.html" import format with context %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='ochre.css') }}" />
</head>
<body>
    <div id="widther">
        <a href="http://linked.data.gov.au">
            <img src="{{ url_for('static', filename='agldwg-logo-ochre-150.png') }}" title="AGLDWG logo"/>
        </a>
        <div id="header">
            <div style="float:left;">

            </div>
            <div style="float:right;">
                <a href="{{ url_for('routes.index') }}">Catalogue Home</a> |
                <a href="{{ url_for('routes.about') }}">About</a> &nbsp;&nbsp;&nbsp; Registers:
                <a href="{{ url_for('routes.datasets') }}">Datasets</a> |
                <!--<a href="{{ url_for('routes.linksets') }}">Linksets</a> |-->
                <a href="{{ url_for('routes.defs') }}">Definitional Items</a>

            </div>
            <div style="clear:both;"></div>
        </div>

        <div id="container-content">
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            <div id="footer_content">
                <p>
                    This is an experimental web page created by CSIRO's <a href="https://research.csiro.au/ei/">
                    Environmental Informatics Group</a> to demonstrate the <a href="{{ url_for('routes.about') }}">LocI
                    Project</a>'s assets. For more information, see the <a href="{{ url_for('routes.about') }}">About page</a>.
                </p>
                <p style="font-size:smaller;">
                    &copy; <a href="http://csiro.au">CSIRO, 2019</a>. All system content (code) used here licensed using the GNU General Public License, v3. See <a href="{{ url_for('routes.license') }}">LICENSE</a> for the deed.<br />
                    Catalogue content licensed separately - see the items themselves.
                </p>
                <div style="clear:both;">&nbsp;</div>
            </div>
        </div><!-- footer -->
    </div>
</body>
</html>
