table, th, td {
    text-align: left;
}



h1 {
    color: #D2875E; /*rgb(171, 132, 118);*/
    font-family: 'FontSiteSans Light', Verdana, Arial, Helvetica, sans-serif;
    font-size: 3em;
    letter-spacing: -0.045em;
    font-weight: 100;
}

h2 {
    font-family: 'FontSiteSans Light', Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    font-size: 2em;
    letter-spacing: -0.045em;
    margin: 30px 0 10px 0;
    padding: 0;
    font-weight: 100;
}

h3 {
    font-family: 'FontSiteSans Light', Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    font-size: 1.5em;
    letter-spacing: -0.045em;
    margin: 0;
    padding: 0;
    font-weight: 100;
    line-height: 2em;
}

h4 {
    font-family: 'FontSiteSans Light', Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    font-size: 1.25em;
    letter-spacing: -0.045em;
    margin: 0;
    padding: 0;
    font-weight: 100;
    line-height: 2em;
}

p, a, li, td, th {
    font-size: 100%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
a {
    color: darkblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgb(179, 0, 0);
}

body {
    text-align: center;
}

#widther {
    margin: 0 auto;
    max-width: 1000px;
    text-align: left;
    padding: 20px;
}
#header {
    background-color: #FFD5BF; /*#D2875E; /*#AA5D33; /*rgb(138, 187, 117);*/
    padding: 20px;
}

/*
#container-content > table,
#container-content > table > tbody > tr > td,
#container-content > table > tfoot > tr > td,
#container-content > table > tbody > tr > th {
    border-collapse: collapse;
    border: none;
}

table.alternates td {
    vertical-align: top;
    padding: 5px;
}

table.content td {
    padding: 5px;
}
*/

#box {
    margin: 0 auto;
    max-width: 1000px;
    text-align: left;
    box-shadow: 0 10px 10px 10px rgba(0,0,0,0.34);
}

ul {
    line-height: 1.5em;
}

.metadata {
    margin-top: 10px;
}
.metadata td,
.metadata th {
    padding: 5px;
}

#footer {
    background-color: #FFD5BF; /*#D2875E; /*#AA5D33; /*rgb(138, 187, 117);*/
    padding: 5px 20px 5px 20px;
    text-align: center;
    font-style: italic;
}

code {
    font-size: larger;
}

#alternates {
    float: right;
    display: block;
    background-color: #FFD5BF; /*#D2875E; /*#AA5D33; /*rgb(138, 187, 117);*/
    padding: 10px;
    width:200px;
    text-align:center;
}

a {
    color: #AA5D33;
}